@syntax-cursor-line: fade(#343d46, 0.5); // needs to be semi-transparent to show serach results
@syntax-bracket-matcher-background-color: lighten(@syntax-background-color, 8%);

// General Text Colors
@syntax-text-color: #c0c5ce;
@syntax-cursor-color: #c0c5ce;
@syntax-selection-color: #4f5b66;
@syntax-background-color: #2b303b;
@syntax-comments-color: #65737e;

// Guide Colors
@syntax-wrap-guide-color: rgba(255, 255, 255, 0.05);
@syntax-indent-guide-color: rgba(255, 255, 255, 0.1);
@syntax-invisible-character-color: rgba(192, 197, 206, 0.3);
